
# clangd
/.cache/*
/compile_commands.json

# rust
/rust-project.json
/target

# bazel build
/bazel-*
/build/conan
/build/conan-profiles
/build/links

# built targets linked to source make files
*.built.link

# conan
/CMakeUserPresets.json

# python
/.venv
/.mypy_cache
__pycache__
