
# clangd
/.cache/*
/compile_commands.json
/user.bazelrc

# rust
/rust-project.json
/target

# bazel build
/bazel-*

# built targets linked to source make files
*.built.link

# conan
/CMakeUserPresets.json

# python
/.venv
/.mypy_cache
__pycache__
